{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


  <h1>Login</h1>
  {% if form.errors %}
    <p>
      Your credentials are incorrect.
    </p>
  {% else %}
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Submit"></p>
    </form>
	<p><a href="{% url "password_reset" %}">Forgot Password</a></p>
  </div>
{% endblock %}
